.header-section {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #e1ede6;

  @media (max-width: 575px) {
    background: #fff;
  }
}

.header {
  display: flex;
}

.wrapper-logo {
  display: flex;
  align-items: center;

  @media (max-width: 575px) {
    padding: 16px 0;
    height: 35px;
  }
}

.logo-text {
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    height: 90px;
    flex-direction: column;
    padding: 16px 0;
  }

  @media (max-width: 575px) {
    padding: 0;
    height: 133px;
  }
}

.item_shop {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.buy_shop_count {
  position: absolute;
  top: -10px;
  right: -10px;

  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  background-color: #21603f;
}

.wraper_navigation_shop {
  display: flex;
  justify-content: space-between;
  width: 470px;

  @media (max-width: 1439px) {
    width: 445px;
  }

  @media (max-width: 767px) {
    width: 510px;
    padding-top: 16px;
    border-top: 1px solid #c3d1c6;
  }

  @media (max-width: 575px) {
    width: 290px;
    border-top: none;
    padding: 16px 0;
  }
}

.wraper_navigation_tab {
  @media (max-width: 575px) {
    display: none;
  }
}

.wraper_navigation_mob {
  display: none;
  @media (max-width: 575px) {
    display: block;
  }
}

.button_mob_menu_open {
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
