.hero_section {
  width: 100%;

  @media (max-width: 767px) {
    padding-top: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 60px;
    background: #f4f6f5;
  }
}

.hero_Container {
  display: flex;
}

.wrapper_slider {
  width: 540px;
  height: 621px;

  @media (max-width: 1439px) {
    max-width: 330px;
    height: 380px;
  }
  @media (max-width: 767px) {
    max-width: 195px;
    height: 239px;
  }

  @media (max-width: 575px) {
    display: none;
  }
}

.titleHero {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  @media (max-width: 1439px) {
    font-size: 45px;
  }

  @media (max-width: 767px) {
    line-height: 100%;
    font-size: 30px;
  }

  @media (max-width: 575px) {
    font-size: 25px;
  }
}

.spanHero {
  color: #598d66;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  @media (max-width: 1439px) {
    font-size: 45px;
  }

  @media (max-width: 767px) {
    line-height: 100%;
    font-size: 30px;
  }
  @media (max-width: 575px) {
    font-size: 25px;
  }
}

.textHero {
  color: #86928b;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;

  margin-top: 20px;

  @media (max-width: 767px) {
    font-size: 14px;
    margin-top: 10px;
  }
  @media (max-width: 575px) {
    margin-top: 20px;
  }
}

.button_hero {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
  height: 65px;
  padding: 20px 60px;
  border: 1px solid #598d66;
  background-color: transparent;
  cursor: pointer;

  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 1439px) {
    margin-top: 20px;
    height: 55px;
  }

  @media (max-width: 767px) {
    height: 50px;
  }
}

.button_hero:hover {
  color: white;
  background-color: #598d66;
}

.wrapper_hero {
  margin-left: 30px;
  margin-top: 145px;

  @media (max-width: 1439px) {
    margin-top: 20px;
  }

  @media (max-width: 575px) {
    margin-left: 0;
  }
}
