.wrapper_card {
  perspective: 600px;

  width: 310px;
  height: 680px;
  background-color: #e1ede6;

  padding: 20px 20px 30px 20px;
  text-align: start;

  @media (max-width: 1439px) {
    width: 290px;
    height: 650px;
  }

  @media (max-width: 767px) {
    width: 200px;
    height: 514px;
  }
  @media (max-width: 575px) {
    width: 250px;
    height: 580px;
  }
}

.button_card {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 310px;
  height: 65px;
  padding: 20px 60px;
  border: 1px solid #598d66;
  margin-top: 20px;

  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 1439px) {
    width: 290px;
    height: 65px;
  }

  @media (max-width: 767px) {
    width: 200px;
    height: 61px;
    padding: 20px 50px;
    font-size: 18px;
  }
}

.button_card:hover {
  color: white;
  background-color: #598d66;
}

.priсe_card {
  margin-top: 20px;
  color: #598d66;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.material_card {
  margin-top: 30px;
  margin-left: 8px;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.name_card {
  height: 60px;
  text-align: center;
  margin-top: 10px;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.button_compound_card {
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #598d66;

  color: #86928b;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.button_compound_card:hover {
  color: white;
  background-color: #598d66;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #598d66; /* Цвет спиннера */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card__face {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face--back {
  background-color: #f4f6f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateY(180deg);
}

.button_back_card {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 310px;
  height: 65px;
  padding: 20px 60px;
  border: 1px solid #598d66;
  margin-top: 20px;

  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 1439px) {
    width: 290px;
    height: 65px;
  }

  @media (max-width: 767px) {
    width: 200px;
    height: 61px;
    padding: 20px 50px;
    font-size: 18px;
  }
}

.button_back_card:hover {
  color: white;
  background-color: #598d66;
}
