.container_mob_menu {
  height: 400px;
  background: #e1ede6;
}

.wraper_navigation_mobMenu {
  display: none;

  @media (max-width: 575px) {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 60px;
  }
}

.buttons_navigation_mobMenu {
  margin-top: 16px;
  margin-bottom: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
