.wrapper_cart {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1439px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.section_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

.container_wrapper__cart {
  position: relative;
  border-radius: 20px;
  padding: 30px;
  background: #f8f8f8;

  @media (max-width: 1439px) {
    padding: 30px 0;
    max-height: 700px;
    overflow-y: auto;
  }

  @media (max-width: 575px) {
    padding: 40px 0;
  }
}

.button_close_cart {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 10px;

  width: 30px;
  height: 30px;

  cursor: pointer;

  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}

.button_close_cart:hover {
  background-color: #21603f;
}

.modal_bg_cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
