.Slider1 {
  max-width: 540px;
  height: 621px;
  background-image: url(../../../img/Hero_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1439px) {
    max-width: 330px;
    height: 380px;
  }

  @media (max-width: 767px) {
    max-width: 195px;
    height: 239px;
  }
}

.Slider2 {
  max-width: 540px;
  height: 621px;
  background-image: url(../../../img/Hero_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1439px) {
    max-width: 330px;
    height: 380px;
  }
  @media (max-width: 767px) {
    max-width: 195px;
    height: 239px;
  }
}

.Slider3 {
  max-width: 540px;
  height: 621px;
  background-image: url(../../../img/Hero_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1439px) {
    max-width: 330px;
    height: 380px;
  }
  @media (max-width: 767px) {
    max-width: 195px;
    height: 239px;
  }
}

.Slider1,
.Slider2 {
  @media (max-width: 1439px) {
    max-width: 330px;
    height: 380px;
  }
  @media (max-width: 767px) {
    max-width: 195px;
    height: 239px;
  }
}
